altgraph==0.12
basemap==1.0.7
certifi==14.5.14
Cython==0.22
empath==0.89
jsonpickle==0.9.3
macholib==1.7
matplotlib==1.4.3
modulegraph==0.12
nose==1.3.1
numpy==1.9.2
oauthlib==2.0.1
Pillow==3.4.2
py2app==0.9
pycairo==1.10.0
pyobjc-core==3.0.1
pyobjc-framework-Cocoa==3.0.1
pyparsing==2.0.3
python-dateutil==2.4.0
pytz==2014.10
requests==2.12.4
requests-oauthlib==0.7.0
scipy==0.18.1
six==1.8.0
tkinter==0.0.0
tornado==4.1
tweepy==3.5.0
wordcloud==1.2.1
